
@font-face{
    font-family: 'normal';
    src: url('../font/Rubik-Medium.ttf');
  }
  @font-face{
    font-family: 'bold';
    src: url('../font/Rubik-Bold.ttf');
  }
  @font-face{
    font-family: 'black';
    src: url('../font/Rubik-Black.ttf');
  }

  @font-face{
    font-family: 'italic';
    src: url('../font/Rubik-Italic.ttf');
  }

html,
body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  margin: 0;
}

body{
    background-color: black;
}
main{
    z-index: 0;
}

.mainR{
    background: linear-gradient(#000000 0 75%, #422e03);;

}
.mainD{
    background: linear-gradient(#000000 0 75%, #420303);;
}
.flex{
    display: flex;
}
.column{
    flex-direction: column;
}

*{
font-family: normal;
}

button{
    background-color: initial;
    border: none;
    color: white;
}

p{
    color: white;
}


header{
    #m-right{
        article{
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }
    #avatarImg{
        border: 3px solid white;
        border-radius: 60px;
    }
    #avatarName{
        text-decoration: none;
        color: white;
        text-align: center;
        position: relative;
        top: 1em;
    }
    ul{
        list-style-type: none;
    }
}

#menu-rivandy{
    width: 100%;
    z-index: 1;
    position: absolute;
    top: 2em;
    display: flex;
    padding: 1em;
    #m-left{
        margin-left: 3em;
        #rivandy-logo, #rivandy-logoD{
            width: 300px;
        }
        #rivandy-logo:hover{
            animation: effetRivandy 2s ease-in-out infinite alternate;
        }
        #rivandy-logoD:hover{
            animation: effetRivandyD 2s ease-in-out infinite alternate;
        }
    }
    #m-center{
        align-self: center;
        justify-content: center;
        margin: auto;
        ul{
            display: flex;
            justify-content: center;
            a{
                text-decoration: none;
                padding: 2em;
                margin: 1em;
                color: white;
            }
            a:hover{
                color: gold;
            }
            #selected{
                color: gold;
                text-decoration: underline;
            }
        }

    }

    #m-right{

        align-self: center;
        margin-left: auto;
        margin-right: 5em;
        #steam-link{ 
            padding: 1em;
            #steam-icon{
            width: 200px;
            }
        }
    }
}

main {
    display: flex;
    flex-direction: column;
    position: relative;
    > section:not(.maxHeight){
        height: 100vh;
    }
    .separator{
        margin-top: 13em;
    }
    > section{
        position: relative;
        min-height: 750px;

        #bg-1, #bg-2{
            top: 0; right: 0;
            position: absolute;
            width: 100%;
            object-fit: cover;
            filter: opacity(0.7);
            z-index: -1;
        }
        .explore-section{
            position: absolute;
            bottom: 10em;
            left: 5em;
            button{
                position: relative;
                p{
                    position: absolute;
                    width: 100%;
                    text-align: center;
                    bottom: 0.7em;
                    left: 0;
                    font-size: 1.3em;
                    text-decoration: none;
                    color: white;
                }
            }
    
        }
        .aside-small{
            color: white;
            width: 400px;
        }
    }
}

#main-section{
    position: relative;
}

#tsparticles{
    z-index: -1;
}

#explore-img, #selected-explore-img{
    width: 236px;
    height: 76px;
    background-size: cover;
    background-position: center;
    background-image: url('../img/button.png');
    position: relative;
}
#explore-img:hover, #selected-explore-img{
    background-image: url('../img/button-h.png');
    animation: effetLogo 1s both;
}
#explore-img:hover p{
    color: gold!important;
}
#selected-explore-p{
    color: gold!important;
}

@keyframes effetLogo{
    from{
      transform: translate(0, 0) rotate3d(1, 1, 1, 0deg);
    }
    to{
      transform: translate(50px, 0) rotate3d(1, 1, 1, 0deg);
    }
  }

  @keyframes effetRivandy{
    from{
      filter: drop-shadow(0px 0px 0px #ffc64b);
    }
    to{
        filter: drop-shadow(0px 0px 20px #fffb00);
    }
  }

  @keyframes effetRivandyD{
    from{
      filter: drop-shadow(0px 0px 0px #ff4b4b);
    }
    to{
        filter: drop-shadow(0px 0px 20px #ff0800);
    }
  }


  #video-wrapper{
    position: absolute;
    right: 15em;
    bottom: 10em;
    width: 960px;
    > * {
        border: 3px solid white;
        iframe{
            pointer-events: none;
            opacity: 0;
        }
    }
  }

#rivandy-circle-logo, #dechys-logo{
    width: 250px;
}

#faction-section > .explore-section{
    img{
        display: block;
        margin: auto;
    }
    bottom: 5em;
    .aside-dechys{
        p{
            font-family: normal;
        }
    }
    h2{
        position: relative;
        margin: 0;
        padding: 0;
        text-align: center;
        color: grey;
    }
    p{
        opacity: 0;
    }
}

@keyframes apparition {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  .apparition {
    animation: apparition 2s ease-in forwards;
  }


#moreVideo{
    aside{
        margin: auto;
    }
    #video2, #video3{
        position: relative;
        top: 6em;
        right: 2.5em;
        border: 3px solid white;
        > *{
            border: none;
        }
    }
    #video3{
        top: 7em;
    }
}

footer{
    display: flex;
    padding: 1em;
    position: relative;
    margin-top: 1em;

    #left{
        margin-left:auto;
    }

    #smallLogo{
        width: 75px;
        position: relative;
    }
    ul{
        list-style-type: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-right: auto;
    }
    li{
        padding: 0.2em;
        margin: 0.3em;
    }
    a{
        color: white;
    }
    p{
        text-align: center;
        color: gold;
    }
    img{
        margin: auto;
    }
}

  
.dechys-color{
    color: #ff0015!important;
}
.rivandy-color{
    color: #ffd700!important;
}
.selected-link{
    text-decoration: underline!important;
}
.disabled-link{
    color: gray!important;
}
.dark{
    filter:hue-rotate(-30deg)!important;
}



#universe-section{
    background-color: rgb(0, 0, 0, 0.6);
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    margin: 0 auto;
    width: 75%;
    color: white;

    h2{
        color: gold;
        font-size: 2em;
    }
    #logo{
        width: 100px;
    }
    img{
        display: block;
        margin: 0 auto;
    }
    h3{
        font-family: italic;
        color: gold;
        text-align: center;
        font-size: 0.9em;
    }
    h4{
        background-color: rgb(255, 215, 0);
        padding: 1em;
        font-family: bold;
        font-size: 1.5em;
        color: black;
        width: fit-content;
        transform: rotate3d(0.5, 0.2, 0, 45deg);
    }
    p, li{
        font-family: Spiegel, "Arial Narrow", Arial, sans-serif;
        text-align: justify;
        font-size: 1.2815em;
    }
}

#preview-video{
    border-top-left-radius: 250px;
    border-bottom-right-radius: 250px;
}


@media screen and (max-width: 1650px) {
    #video-wrapper{
        right: 3em;
    }
    #moreVideo #video2, #moreVideo #video3{
        right: 0;
        position: relative;
    }
    .moreVideoAside {
        bottom: 9em;
        position: relative;
    }

}

@media screen and (max-width: 1300px) {
    #menu-rivandy{
        flex-direction: column;
        #m-left, #m-center{
            margin: auto;
        }
        #m-right{
            margin: initial;
            position: absolute;
            top: 0;
            right: 3em;
        }
    }
    .firstVideoAside{
        display: none;
    }
    .moreVideoAside{
        position: relative;
        top: -9em;
    }

    #video-wrapper {
        width: 480px;
        z-index: 1;
    }
}

@media screen and (max-width: 850px) {
    #menu-rivandy{
        #m-left{
            margin: initial;
            position: relative;
            top: -2.5em;
            left: 5em;
        }
        #m-center ul {
            flex-wrap: wrap;
            li{
                padding: 1em;
            }
        }

        #rivandy-logo, #rivandy-logoD{
            width: 200px;
        }
    }
    .lastAsidePreview{
        position: relative;
        top: 1.5em;
    }
    main .separator {
        margin-top: 20em;
    }

    #universe-section{
        img{
            width: 100%;
        }
        width: initial;
        font-size: 0.7em;
    }

    #faction-section > .explore-section{
        bottom: 10em;
    }
    #explore-img{
        display: none;
    }
}

@media screen and (max-width: 700px) {
    #menu-rivandy{
        flex-direction: column-reverse;
        #m-left{
            display: none;
        }
        #m-right{
            position: relative;
            margin: auto;
            right: 0;
        }
    }
    main > section:not(.maxHeight) {
        height: initial;
    }
}

@media screen and (max-width: 665px) {
    #moreVideo{
        display: none;
    }
    main > section{
        .aside-small {
            padding: 2em;
            width: initial;
        }
    }
    main > section .explore-section{
        left: 0;
        font-size: 0.9em;
    }
}
@media screen and (max-width: 600px) {
    #main-section{
        #video-wrapper{
            display: none;
        }
        .explore-section{
            display: none;
        }
    }
    main > section {
        min-height: 700px;
    }
}